In [33]:
#Array Declaration using lists

A=[56,34,65,3.2,89,'TG']

print(A)

print(A[4])

print(type(A[4]))

print(type(A[3]))

print(type(A[5][1]))

print(A[5][0])

[56, 34, 65, 3.2, 89, 'TG']
89
<class 'int'>
<class 'float'>
<class 'str'>
T

In [45]:
A=[1,2.56,3,4,'Tanush',6]
for x in range(6):
    print(A[x],end="   ")

1   2.56   3   4   Tanush   6

In [24]:
a=[1,2,3,4,5,6]
#copying a List
b=a.copy()
print(b)

[1, 2, 3, 4, 5, 6]

In [25]:
#Poping and single element
c=b.pop(3)
print(c)

4

In [26]:
#Append
print(b)
b.append(23)
print(b)
b.append(23)
print(b)

[1, 2, 3, 5, 6]
[1, 2, 3, 5, 6, 23]
[1, 2, 3, 5, 6, 23, 23]

In [27]:
#Index
print(b.index(23))

5

In [28]:
#Counting a list elements
print(b.count(23))

2

In [29]:
#insert
b.insert(3,56)
print(b)

[1, 2, 3, 56, 5, 6, 23, 23]

In [30]:
#Removing a elements
b.remove(23)
print(b)

[1, 2, 3, 56, 5, 6, 23]

In [32]:
#Sorting the elements in ascending order
b.sort()
print(b)

[1, 2, 3, 5, 6, 23, 56]

In [33]:
#Sorting the elements in descending order
b.sort(reverse=True)
print(b)

[56, 23, 6, 5, 3, 2, 1]

In [34]:
#Extending the element
b.extend(a)
print(b)

[56, 23, 6, 5, 3, 2, 1, 1, 2, 3, 4, 5, 6]

In [37]:
a=[56, 23, 6, 5, 3, 2, 1, 1, 2, 3, 4, 5, 6]
for x in a:
    print(,end="  ")

56   23   6   5   3   2   1   1   2   3   4   5   6

In [11]:
### Dynamically entering the elements of list
x=[]
n=int(input("Enter the size: "))
print("Enter the elements: ")
for i in range(0,n):
    a=int(input())
    x.append(a)
print(x)

Enter the size:  5

Enter the elements:

 23
 56
 85
 12
 63

[23, 56, 85, 12, 63]

In [21]:
l=[item for item in(input("Enter the list: ").split())]
print(l)

Enter the list:  45 56 32 56 894 13 Tanush

['45', '56', '32', '56', '894', '13', 'Tanush']

In [22]:
#Tuples
a=(1,2,3.4,5,6,'Tanush')
print(a)

#converting the tuples into Lists
x=list(a)
print(x)

#Converting the lists to tuples
b=tuple(x)
print(b)

(1, 2, 3.4, 5, 6, 'Tanush')
[1, 2, 3.4, 5, 6, 'Tanush']
(1, 2, 3.4, 5, 6, 'Tanush')

In [33]:
a=[1,2,3,4,5,6]
b=[]
for i in a:
    b.append(a[-i])
print(b)

[6, 5, 4, 3, 2, 1]

In [55]:
a=[1,4,3,6,5,6,7,8]
for i in range(-1,len(a)+1):
    print(a[-i],end="  ")

4  1  8  7  6  5  6  3  4  1

In [50]:
a=[1,2,3,4,5,6,7,8]
for x in range(-1,-1*(len(a)+1),-1):
    print(a[x],end="  ")

8  7  6  5  4  3  2  1

In [68]:
#Dictionary

d={1:'Tanush',2:'Samrat'}
print(d)

#overiding the key and values
d={1:'Tanush',2:'Samrat',2:'Shankar'}
print(d)

print(d[1])

print(d.keys())
print(d.values())
print(d.items())
print(d.get(1))

{1: 'Tanush', 2: 'Samrat'}
{1: 'Tanush', 2: 'Shankar'}
Tanush
dict_keys([1, 2])
dict_values(['Tanush', 'Shankar'])
dict_items([(1, 'Tanush'), (2, 'Shankar')])
Tanush

In [56]:
key=int(input("enter the keys:").split())
val=input("enter the values:").split()
d={}
for i in range(0,len(a)):
    d.get(key)
    d.get(val)
print(d)
for i in range

enter the keys: 1l

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [77]:
#Exception Handling

a={1:'tanush',2:'sam',3:'BTS',4:'santu',5:'gdfn'}
i=int(input("ENter the key"))
try:
    print(a[i])
except:
    print("ERROR","no value and key found")

ENter the key 6

ERROR no value and key found

In [1]:
try:
    a=input()
    b=input()
    c=int(a)/int(b)
except ValueError:
    print("value is invalid")
except ZeroDivisionError:
    print("Can't divide by zero")
except:
    print("some unknown error occured")
else:
    print("No Error",c)
finally:
    print("Code Execution Done")

 9
 0

Can't divide by zero
Code Execution Done