In [14]:
class vehicle:
    def __init__(self,c,p,plt,eg):
        self.colour=c
        self.price=p
        self.plate=plt
        self.engine=eg
    
    def product(self):
        print("Colour            : ",self.colour)
        print("Price             : ",self.price)
        print("Registration no.  : ",self.plate)
        print("Engine power(CC)  : ",self.engine)

class Car(vehicle):
    def __init__(self,nam,c,p,plt,eg,typ,num,maxsp):
        self.name=nam
        self.types=typ
        self.nopass=num
        self.maxspd=maxsp
        super().__init__(c,p,plt,eg)
    
    def product(self):
        print("<-------The Attributes of CAR :--------->")
        print("Car Name          : ",self.name)
        super().product()
        print("car model         : ",self.types)
        print("No.of Passangers  : ",self.nopass)
        print("Max Speed         : ",self.maxspd)

class Truck(vehicle):
    def __init__(self,nam,c,p,plt,eg,axl,lc):
        self.name=nam
        self.axel=axl
        self.load=lc
        super().__init__(c,p,plt,eg)
    
    def product(self):
        print("<------The Attributes of TRUCK :-------->")
        print("Name of Truck     : ",self.name)
        super().product()
        print("no.of Axels       : ",self.axel)
        print("Load Capacity     : ",self.load)

if __name__=="__main__":
    print("                                                                                                 ")
    print("                                                                                                 ")
    car=Car("Hyndai Creta","Polar White","16 lhks","KA-34 BL-8980 ","1800 CC","SUV","6 Persons","210 km/h")
    car.product() 
    print("                                                                                                 ")
    print("                                                                                                 ")
    tru=Truck("Ashok Leyland","Maroon Red","25 lhks","KA-34 MYS-1023","5000 CC","4 Axels 12 Wheels","2 TONS")
    tru.product()

<-------The Attributes of CAR :--------->
Car Name          :  Hyndai Creta
Colour            :  Polar White
Price             :  16 lhks
Registration no.  :  KA-34 BL-8980
Engine power(CC)  :  1800 CC
car model         :  SUV
No.of Passangers  :  6 Persons
Max Speed         :  210 km/h


<------The Attributes of TRUCK :-------->
Name of Truck     :  Ashok Leyland
Colour            :  Maroon Red
Price             :  25 lhks
Registration no.  :  KA-34 MYS-1023
Engine power(CC)  :  5000 CC
no.of Axels       :  4 Axels 12 Wheels
Load Capacity     :  2 TONS

In [44]:
class Employee:
    def __init__(self,eid,nam,sal):
        self.id=eid
        self.name=nam
        self.salary=sal
    def info(self):
        print("Employee ID         : ",self.id)
        print("Employee Name       : ",self.name)
        print("Employee Salary     : ",self.salary)

class Staff(Employee):
    def __init__(self,eid,nam,sal,typ,ar):
        self.type=typ
        self.area=ar
        super().__init__(eid,nam,sal)
        
    def info(self):
        print("_______________________________________________________________________________________________________________________________________")
        print("<------ S-Staff Details ---------->")
        print("                                                                                ")
        super().info()
        print("Work Type           : ",self.type)
        print("Work Area           : ",self.area)

class Developer(Employee):
    def __init__(self,eid,nam,sal,mod,tech,exp):
        self.Mod=mod
        self.Tech=tech
        self.Exp=exp
        super().__init__(eid,nam,sal)
        
    def info(self):
        print("_______________________________________________________________________________________________________________________________________")
        print("<------ Developer Details ---------->")
        print("                                                                                ")
        super().info()
        print("Module              : ",self.Mod)
        print("Technology          : ",self.Tech)
        print("Experience          : ",self.Exp)

class Manager(Employee):
    def __init__(self,eid,nam,sal,prj,cl):
        self.project=prj
        self.Client=cl
        super().__init__(eid,nam,sal)
        
    def info(self):
        print("_______________________________________________________________________________________________________________________________________")
        print("<------- Manager Details ---------->")
        print("                                                                                ")
        super().info()
        print("Project             : ",self.project)
        print("Client Name         : ",self.Client)

if __name__=="__main__":
    staf=Staff("10395729","Aravinda Sametha","25,000","Labour","Construction")
    staf.info()
    print("                                                                                                 ")
    print("                                                                                                 ")
    devo=Developer("98456151","Raghavendra Bose","1,23,500","Payroll Management","Civil Engg","15 Yrs in Bajaj cement")
    devo.info()
    print("                                                                                                 ")
    print("                                                                                                 ")
    Man=Manager("45213821","Ram Teja","3,00,500","SRV Mall","Rajveer Hamsadha")
    Man.info()

_______________________________________________________________________________________________________________________________________
<------ S-Staff Details ---------->

Employee ID         :  10395729
Employee Name       :  Aravinda Sametha
Employee Salary     :  25,000
Work Type           :  Labour
Work Area           :  Construction


_______________________________________________________________________________________________________________________________________
<------ Developer Details ---------->

Employee ID         :  98456151
Employee Name       :  Raghavendra Bose
Employee Salary     :  1,23,500
Module              :  Payroll Management
Technology          :  Civil Engg
Experience          :  15 Yrs in Bajaj cement


_______________________________________________________________________________________________________________________________________
<------- Manager Details ---------->

Employee ID         :  45213821
Employee Name       :  Ram Teja
Employee Salary     :  3,00,500
Project             :  SRV Mall
Client Name         :  Rajveer Hamsadha

In [45]:
n=int(input("Enter the limit : "))
for i in range(1,n):
    for j in range(1,n):
        if i==1 or i==n-1 or j==1 or j==n-1:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print(" ")

Enter the limit :  5

* * * *
*     *
*     *
* * * *

In [50]:
for i in range(1,7):
    for j in range(1,7):
        if i==1 or i==6 or j==1 or j==6:
            print("*",end=" ")
        else:
            print("*",end=" ")
    print("")

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [55]:

#1
for i in range(5):
        for j in range(i):
            if (i-j)%2==0:
                print("0",end=" ")
            else:
                print("1",end=" ")
        print(" ")

1
0 1
1 0 1
0 1 0 1

In [58]:
for i in range(1,7):
    for j in range(1,7):
        if i==1 or i==6 or j==1 or j==6:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print(" ")

* * * * * *
*         *
*         *
*         *
*         *
* * * * * *

In [63]:


num=1
for i in range(6):
        for j in range(i):
            #print(f"{num} ",end=" ")
            print("",num,end=" ")
            num+=1
        print('')

 1
 2  3
 4  5  6
 7  8  9  10
 11  12  13  14  15

In [65]:
for i in range(0,10):
        for j in range(i,10):
            print("* ",end=" ")
        print('')

*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *
*  *  *  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [68]:
for i in range(1,7):
        for j in range(1,i):
            #print(f"{num} ",end=" ")
            print("",j,end=" ")
        print('')

 1
 1  2
 1  2  3
 1  2  3  4
 1  2  3  4  5

In [85]:
for i in range(6,0,-1):
    for j in range(i,0,-1):
        print("",j,end=" ")
    print('')

 6  5  4  3  2  1
 5  4  3  2  1
 4  3  2  1
 3  2  1
 2  1
 1

In [91]:
n=int(input())
print("             ")
for i in range(1,n+1):
    for j in range(1,n-i+1):
        print(" ",end=" ")
    for j in range(0,2*i-1):
        print("*",end=" ")
    print()

 5

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [93]:
n=int(input())
for i in range(1,n+1):
    if i==1 or i==n:
         for j in range(1,n-i+1):
             print(" ",end=" ")
         for j in range(0,2*i-1):
             print("*",end=" ")
         print()
    else:
        for j in range(1,n-i+1):
            print(" ",end=" ")
        for j in range(0,2*i-1):
            if j==0 or j==2*i-2:
                print("*",end=" ")
            else:
                print(" ",end=" ")
        print()

 5

        *
      *   *
    *       *
  *           *
* * * * * * * * *

In [94]:
n=int(input())
for i in range(1,n+1):
         for j in range(1,n-i+1):
             print(" ",end=" ")
         for j in range(0,2*i-1):
             print("*",end=" ")
         print()
for i in range(n-1,0,-1):
         for j in range(1,n-i+1):
             print(" ",end=" ")
         for j in range(0,2*i-1):
             print("*",end=" ")
         print()

 5

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [95]:
n=int(input())
for i in range(1,n+1):
    if i==1:
        for j in range(1,n-i+1):
            print(" ",end=" ")
        for j in range(0,2*i-1):
            print("*",end=" ")
        print()
    else:
        for j in range(1,n-i+1):
            print(" ",end=" ")
        for j in range(0,2*i-1):
            if j==0 or j==2*i-2:
                print("*",end=" ")
            else:
                print(" ",end=" ")
        print()
for i in range(n-1,0,-1):
    if i==1:
        for j in range(1,n-i+1):
            print(" ",end=" ")
        for j in range(0,2*i-1):
            print("*",end=" ")
        print()
    else:
        for j in range(1,n-i+1):
            print(" ",end=" ")
        for j in range(0,2*i-1):
            if j==0 or j==2*i-2:
                print("*",end=" ")
            else:
                print(" ",end=" ")
        print()

 5

        *
      *   *
    *       *
  *           *
*               *
  *           *
    *       *
      *   *
        *

In [96]:
n=int(input())
for i in range(1,n+1):
         for j in range(1,n-i+1):
             print(" ",end=" ")
         for j in range(0,2*i-1):
             print("*",end=" ")
         for j in range(1,(n-i+1)*2):
             if j!=(n-i+1)*2-1:
                    print(" ",end=" ")
         for j in range(0,2*i-1):
             print("*",end=" ")
         print()

 5

        *                 *
      * * *             * * *
    * * * * *         * * * * *
  * * * * * * *     * * * * * * *
* * * * * * * * * * * * * * * * * *

In [ ]:
n=int(input())
for i in range(1,n+1):
         for j in range(1,n-i+1):
             print(" ",end=" ")
         for j in range(0,2*i-1):
             print("*",end=" ")
         for j in range(1,(n-i+1)*2):
             if j!=(n-i+1)*2-1:
                    print(" ",end=" ")
         for j in range(0,2*i-1):
             print("*",end=" ")
         print()
for i in range((2*n-1),0,-1):
         for j in range(1,(2*n)-i):
             print(" ",end=" ")
         for j in range(0,2*i-1):
             print("*",end=" ")
         print()

In [89]:
25.#pattern12



26.#pattern13



27.#pattern14




28.#pattern15

29.#pattern16





30.#pattern17

31.#pattern18
n=int(input())
for i in range(n):
    if i==0 or i==n-1:
        for j in range(n):
            print("*",end=" ")
        print()
    else: 
        for j in range(n):
            if j==0 or j==n-1:
                print("*",end=" ")
            else: 
                print(" ",end=" ")
        print()
for i in range(1,n):
    if  i==n-1:
        for j in range(n):
            print("*",end=" ")
        print()
    else: 
        for j in range(n):
            if j==0 or j==n-1:
                print("*",end=" ")
            else: 
                print(" ",end=" ")
        print()


32.#pattern19
n=int(input())
for i in range(1,2*n):
    if i==1 or i==(2*n)//2:
        for j in range(n+1):
            print("*",end=" ")
        print()
    else: 
        for j in range(n+1):
            if j==0 or j==n:
                print("*",end=" ")
            else: 
                print(" ",end=" ")
        print()

SyntaxError: invalid syntax (3092069428.py, line 182)